
$font-size: 16px;

$primary: #7259C1;
$white: #ffffff;
$black: #000000;
$blue: #2c2e3a;
$gray: #333333;

@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

#main {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}