@charset "UTF-8";
@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
#main {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 16px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  color: #000000;
  background-color: #cccccc;
  border: 1px solid  #664545;
  border-radius: 4px;
}

a, button {
  cursor: pointer !important;
  outline: none !important;
}

.title-2 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 3.75rem;
  color: #000000;
  display: block;
  margin-bottom: 80px;
}
.title-2.white {
  color: #ffffff;
}

.title-3 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 2.5rem;
  color: #000000;
  display: block;
}
.title-3.white {
  color: #ffffff;
}

.front-page .banner-home {
  position: relative;
  min-height: 100vh;
}
.front-page .banner-home video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.front-page .banner-home h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 5.3125rem;
  color: #ffffff;
}
.front-page .contruir-marcas {
  min-height: 720px;
  padding-top: 130px;
}
.front-page .contruir-marcas .area-imagens {
  margin-bottom: -50px;
  position: relative;
  z-index: 10;
}
.front-page .contruir-marcas .area-imagens .title-image-left, .front-page .contruir-marcas .area-imagens .title-image-right {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
.front-page .contruir-marcas .area-imagens .title-image-left {
  position: absolute;
  left: -105px;
  top: 100px;
  z-index: 10;
  transform: rotate(-90deg);
}
.front-page .contruir-marcas .area-imagens .title-image-right {
  position: absolute;
  right: -105px;
  top: 100px;
  z-index: 10;
  transform: rotate(90deg);
}
.front-page .contruir-marcas .area-imagens .img-back {
  width: 50%;
  height: 650px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.front-page .integrar {
  min-height: 720px;
  background: #2c2e3a;
  position: relative;
}
.front-page .integrar .produtos {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -280px;
  z-index: 10;
}
.front-page .integrar .produtos .title-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}
.front-page .integrar .produtos .title-item h3 {
  font-weight: 200;
  font-size: 0.75rem;
  color: #ffffff;
}
.front-page .integrar .produtos .title-item p {
  color: #5f5f5f;
  font-size: 10rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  line-height: 6.25rem;
}
.front-page .integrar .produtos .img-produto {
  width: 100%;
  display: block;
  height: 340px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.front-page .desvendar {
  min-height: 720px;
}
.front-page .desvendar .content {
  margin-top: 300px;
}
.front-page .session-four {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.front-page .session-five {
  padding: 100px 0;
}
.front-page .session-five .img-back {
  width: 100%;
  height: 340px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
}
.front-page .session-five p {
  font-family: "Poppins", sans-serif;
  font-size: 1.875rem;
  text-align: center;
}

.comunicacao {
  display: block;
  width: 100%;
}
.comunicacao .banner-comunicacao {
  position: relative;
  min-height: 100vh;
}
.comunicacao .banner-comunicacao video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.comunicacao .banner-comunicacao h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 5.3125rem;
  color: #ffffff;
}
.comunicacao .produtos {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.comunicacao .produtos .back-blue {
  height: 1200px;
  background-color: #2c2e3a;
}
.comunicacao .produtos .photobanner {
  min-height: 1000px;
  margin-top: 100px;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  white-space: nowrap;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
}
.comunicacao .produtos .photobanner .scrolling {
  overflow: hidden;
  white-space: nowrap;
  animation: bannermove 10s linear infinite;
}
.comunicacao .produtos .photobanner .scrolling img {
  margin: 0 0.5em;
}

footer {
  padding: 20px 0 50px;
  background-color: #2c2e3a;
}
footer .btn-top {
  background-color: transparent;
  outline: none;
  color: #ffffff;
  border: 0px solid;
}
footer .btn-top img {
  width: 20px;
  margin-right: 10px;
}
footer .email {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  color: #ffffff;
}
footer .area-whats {
  margin: 40px 0;
}
footer .area-whats img {
  margin-right: 30px;
}
footer .area-whats p {
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-weight: 200;
  color: #ffffff;
  margin: 0;
}
footer .bottom-footer .redes a {
  background-color: #ffffff;
  font-size: 1.25rem;
  color: #2c2e3a;
  border-radius: 100px;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.2s linear;
}
footer .bottom-footer .redes a:hover {
  opacity: 0.7;
}
footer .bottom-footer .endereco {
  color: #ffffff;
  text-align: right;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 200;
}
footer .bottom-footer .endereco * {
  margin: 0;
}