body
	background-color: $white
	padding: 0
	margin: 0
	width: 100%
	font-size: $font-size
	text-rendering: optimizeLegibility !important
	-webkit-font-smoothing: antialiased !important
	font-family: 'Poppins', sans-serif
	overflow-x: hidden

pre
	display: block
	padding: 9.5px
	margin: 0 0 10px
	font-size: 13px
	line-height: 1.428571429
	word-break: break-all
	word-wrap: break-word
	color: #000000
	background-color: #cccccc
	border: 1px solid #664545
	border-radius: 4px


a, button
	cursor: pointer !important
	outline: none !important

.title-2
	font-family: 'Poppins', sans-serif
	font-weight: 200
	font-size: calculateRem(60px)
	color: $black
	display: block
	margin-bottom: 80px
	&.white
		color: $white

.title-3
	font-family: 'Poppins', sans-serif
	font-weight: 200
	font-size: calculateRem(40px)
	color: $black
	display: block
	&.white
		color: $white